@import url('https://fonts.googleapis.com/css2?family=Avenir® Next=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {background-color: #000000 ;
	font-family: Avenir Next;
}

main{
	width: 100%;
	height: 750px;
	background-color: #000000;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;

}

header{
	width: 100%;
	height: 80px;
	background-color:  #000000;

}

section{
	width: 100%;
	height: 610px;
	background-image:  url(../fondo.png);
	background-repeat: no-repeat;
	
}


#fondosinopsis{
	background-image: url(../fondosinopsis.png);
}

#fondoescenas{
    background-color: #000000;
    background-size: cover;
}

footer{
	width: 100%;
	height: 60px;
	background-color:  #000000;
}


#logo{
	width: 50%;
	height: 80px;
	background-color: #00a7b0;
	float: left;
}
.logo{
	margin-left: 15%;
	margin-top: 4%;

}

#nav{
	width: 50%;
	height: 80px;
	background-color: #00a7b0;
	float: right;
}

.nav{
	margin-left: 25%;
	margin-top: 2%;
}

.nav li{
	display: inline;
	font-size: 25px;
	float: left;
	padding: 3%;
	border-radius: 10px;
	margin-right: 2%;
	text-align: center;

}

.nav li a{
	text-decoration: none;
	color: #000000;


}

.circulo{margin-top: 12%;
	margin-right: 10%;
	margin-left: 70%;

}


#blackmirror{
	float: left;
	width: 33%;
	height: 60px;
	background-color: #00a7b0; 
	margin-left: (0,5%);

}
.blackmirror{
margin-left: 20%;
margin-top: 1%;
margin-bottom: 0,25px;
}

#nombre{
	width: 33%;
	height: 60px;
	background-color: #00a7b0;
	float: left;
}
.nombre{
	font-size: 15px;
	margin-left: 45%;
	margin-top: 5%;


}

.nombre a{
	text-decoration: none;
	color: #000000;
}


#redes{
	float: left;
	width: 34%;
	height: 60px;
	background-color: #00a7b0;
}

#entreredes{
	margin-top: 2%;
	margin-left: 47%;
}

#zonatitulo{
	width: 100%;
	height: 200px;
	background-color: transparent;
}

#sinopsis1{
	width: 33%;
	height: 200px;
	float: left;
}

.sinopsis1{
	margin-top: 10%;
	margin-left: 25%;
}

#sinopsis{
	width: 34%;
	height: 200px;
	float: left;
}


.sinopsis{
	margin-left: 27%;
	margin-top: 10%;
}

#sinopsis2{
	width: 33%;
	height: 200px;
	float: left;
}

.sinopsis2{
	margin-top: 10%;
	margin-right: 25%;
	float: right;

}

#argumento{
	width: 80%;
	height: 350px;
	background-color: #00a7b0;
	margin-left: 10%;
	margin-top: 2%;
	border-radius: 10px;

}
.argumento{
	margin-left: 2%;
	margin-top: 2%;
	margin-right: 2%;
	padding-top: 1%;
	text-align: center;
}

#trivia{
	width: 100%;
	height: 150px;
}

.trivia{
	margin-left: 43%;
}

h1{
	text-align: center;
	color: #00a7b0;
}

#formulario{
	width: 50%;
	height: 400px;
	background-color: #9370DB;
	margin-left: 25%;
}
label{
	margin-left: 4%;
}
input{
	margin-left: 7%;
}

#fondotrivia{
	background-image: url(../fondotrivia.png);
	background-color: #000000;
}

#escenas{
	width: 50%;
	height: 610px;
	background-color: #000000;
}
h2{
	margin-top: 8%;
	margin-left: 15%;
	color: #00a7b0;
}
.primera{
	margin-left: 17%;
	color: #00a7b0;
}

.segunda{
	margin-left: 17%;
	color: #00a7b0;
}

.tercera{
	margin-left: 17%;
	color: #00a7b0;
}

#galeria{
	width: 50%;
	height: 610px;
	background-color: #000000;
}

#micrositio{
	width: 100%;
	height: 150px;
}

h3{
	margin-top: 65px;
	text-align: center;
	color: #00a7b0;
}







